
NEXT_PUBLIC_GA_ID=G-KH6XWFHJS1
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDJahlTRLFI-He71dduoRi6ibTy8YA3Apg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=skillchain-9115e.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=skillchain-9115e
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=skillchain-9115e.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=989908232351
NEXT_PUBLIC_FIREBASE_APP_ID=1:989908232351:web:2c962d1a19a5896eff9aaa

NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_ESCROW_CONTRACT_ID=CDTN2LB5WMPONLDDMQJQJGDVIV3GIGBFXYBVDYXA5F2BND266NFG2RC3
NEXT_PUBLIC_DONATION_MANAGER_ID=CDK3JLDRM3M7SIP2VR5GJIH5L4AHNPTK5KZAOMPDLNWPYFRLXMGBT37S
NEXT_PUBLIC_MILESTONE_MANAGER_ID=CDIROAO5I5S7SDO5GXG3QXSA7CYTENEYRKHBARUCGIGNLY56SXOZV2GP
NEXT_PUBLIC_SCHOLARSHIP_FACTORY_ID=CALGSRR5SDM4J32XM45W474S7XSTQZ7NIJQ34SBUAEMEUOVHB74WQ5SN